@navbar-default-link-color: #FFFFFF;
@navbar-default-bg: #009BAD;

.navbar {
	min-height: 30px;
	margin: 0;
	padding: 0;
	border-radius: 0px;
	text-align: center;
	line-height: 30 px;
	vertical-align: middle;
}
.navbar-nav {
	float:none;
}
.navbar-nav > li {
	display:inline-block;
	float:none;
	margin:0 10px;
	vertical-align: middle;
}

.navbar-nav > li > a {
	padding: 0;
}


