@navbar-default-link-color: #FFFFFF;
@navbar-default-bg: #585858;

.navbar {
	min-height: 30px;
	margin: 0;
}

.navbar-nav > li > a {
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 28px;
	text-align: center;
	vertical-align: middle;
}


