.edgePath .path {
  stroke: #333333;
}
.edgeLabel {
	color: #FF4500;
}
.appsNodePENDING rect {
	fill: #fffac6;
}
.appsNodeFINISHED rect {
	fill: #bcf5a9;
}
.appsNodeRUNNING rect {
	fill: #728fce;
}
.fileNode rect {
	fill: #FF4500;
}
